.four-hundred-four {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    .heading {
        color: var(--color-danger);
        font-size: var(--font-size-super-large);
        font-weight: var(--font-weight-bold);
    }

    .message {
        margin: var(--spacing-large) 0;
        text-align: center;
        font-size: var(--font-size-large-alt);
    }
}
