:root {
    --spacing-small: 6px;
    --spacing-medium: 10px;
    --spacing-large: 16px;
    --spacing-super-large: 24px;

    --color-foreground: #fff;
    --color-background-haze: rgba(255, 255, 255, .7);

    --color-accent: #18bc9c;
    --color-text-on-accent: #fff;

    --color-text: rgba(0, 0, 0, .7);
    --color-text-label: rgba(0, 0, 0, .5);

    --font-size-medium: 16px;
    --font-size-large: 20px;
    --font-size-super-large: 28px;
    --font-size-ultra-large: 40px;

    --font-weight-light: 300;
    --font-weight-medium: 400;
    --font-weight-bold: 700;

    --radius-border-medium: 1em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: var(--font-weight-bold);
}
