.after-game-play-modal {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-border-medium);
    box-shadow: 0 3px 10px -3px rgba(0, 0, 0, .3);
    background-color: var(--color-foreground);
    padding: var(--spacing-large);
    width: 500px;
    height: 400px;
    overflow: auto;

    >.header {
        flex-shrink: 0;
        text-align: center;

        .heading {
            padding: var(--spacing-medium);
        }
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        overflow: auto;

        .score-label {
            padding: var(--spacing-medium);
            color: var(--color-text-label);
            font-size: var(--font-size-large);
            font-weight: var(--font-weight-bold);
        }

        .score {
            padding: var(--spacing-medium);
            font-size: var(--font-size-ultra-large);
            font-weight: var(--font-weight-bold);
        }

        .actions {
            padding: var(--spacing-medium);
        }
    }
}
