.fact {
    border: 1px solid var(--color-accent);
    background-color: var(--color-foreground);
    padding: calc(var(--spacing-large) - var(--spacing-extra-small));
    width: 320px;
    animation: appear .2s ease-in forwards;

    .heading {
        padding: var(--spacing-extra-small);
        color: var(--color-primary);
    }

    .content {
        padding: var(--spacing-extra-small);
        color: var(--color-text-label);
    }
}

@keyframes appear {
    from {
        transform: translateY(10px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
