.round-button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, .3);
    background-color: var(--color-accent);
    cursor: pointer;
    padding: var(--spacing-medium);
    width: calc(1.3em + 2 * var(--spacing-medium));
    height: calc(1.3em + 2 * var(--spacing-medium));
    color: var(--color-text-on-accent);
    font-family: inherit;
    font-size: 1.3em;
    font-weight: var(--font-weight-bold);
}
