.game-mode-selection-modal {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-border-medium);
    box-shadow: 0 3px 10px -3px rgba(0, 0, 0, .3);
    background-color: var(--color-foreground);
    padding: var(--spacing-large);
    width: 500px;
    height: 400px;
    overflow: auto;

    >.header {
        flex-shrink: 0;
        text-align: center;

        .heading {
            padding: var(--spacing-medium);
        }
    }

    .content {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-around;
        overflow: auto;

        .game-mode-card {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: calc(var(--spacing-medium) - var(--spacing-small));

            .header {
                flex-shrink: 0;

                .heading {
                    padding: var(--spacing-small);
                    color: rgba(0, 100, 0, .5);
                }
            }

            .content {
                flex-grow: 1;
                padding: var(--spacing-small);

                .icon {
                    color: rgba(0, 0, 0, .3);
                    font-size: 64px;

                    path {
                        stroke: currentColor;
                        stroke-width: 1px;
                    }
                }
            }

            .actions {
                flex-shrink: 0;
                padding: var(--spacing-small);
            }
        }
    }
}
