.stats {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-large);

    .username {
        flex-shrink: 0;
    }

    .game-mode {
        flex-shrink: 0;
    }

    .time-remaining {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
    }

    @media screen and (max-width: 900px) {
        padding: var(--spacing-medium);
    }
}
