.user-information-modal {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-border-medium);
    box-shadow: 0 3px 10px -3px rgba(0, 0, 0, .3);
    background-color: var(--color-foreground);
    padding: var(--spacing-large);
    width: 500px;
    max-width: 60vw;
    height: 400px;
    max-height: 80vh;

    .header {
        flex-shrink: 0;
        padding: var(--spacing-medium);

        .heading {
            text-align: center;
        }
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;

        .avatar-list {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--spacing-large) var(--spacing-medium);

            .avatar-button {
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0.5;
                margin: 0 var(--spacing-small);
                outline: none;
                border: none;
                border-bottom: var(--width-separator-medium) solid transparent;
                background-color: transparent;
                cursor: pointer;
                padding: 0;
                filter: saturate(50%);

                &.active {
                    opacity: 1;
                    border-bottom-color: var(--color-accent);
                    filter: none;
                }

                .avatar {
                    width: 54px;
                    height: 54px;
                }
            }
        }

        .inputs {
            padding: var(--spacing-large) var(--spacing-medium);
        }

        .actions {
            padding: var(--spacing-large) var(--spacing-medium);
        }
    }

    @media screen and (max-width: 1080px) {
        .header {
            padding: var(--spacing-small);
        }

        .content {
            .avatar {
                padding: var(--spacing-small);

                .icon {
                    font-size: 40px;
                }
            }
        }
    }
}
