.home {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-alt);
    overflow: auto;

    .map-container {
        flex-grow: 1;
    }

    .stats {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        background-color: #fff;
        padding: 10px;
        font-size: 30px;
    }
}
