.home {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--color-background);
    overflow: auto;

    .map-container {
        flex-grow: 1;
    }

    .initialize-message {
        display: flex;
        position: absolute;
        top: 20%;
        left: 0;
        align-items: center;
        justify-content: center;
        z-index: 1;
        width: 100%;
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);

        .ready {
            position: absolute;
            opacity: 0;
            animation: zoomed-fade-out .7s ease-in forwards;
        }

        .get-set {
            position: absolute;
            opacity: 0;
            animation: zoomed-fade-out .7s 1s ease-in forwards;
        }

        .go {
            position: absolute;
            opacity: 0;
            animation: zoomed-fade-out .7s 2s ease-in forwards;
        }
    }

    .challenge {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .stats {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 100%;
    }

    .message {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        pointer-events: none;
    }

    .score-board {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
    }
}

@keyframes zoomed-fade-out {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(2);
        opacity: 0;
    }
}
