.home {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--color-background);
    background-image: url('../../assets/background.png');
    background-position: center center;
    background-size: cover;
    background-blend-mode: lighten;
    overflow: auto;

    .language-picker {
        z-index: 111;
    }

    .map-loading-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size: var(--font-size-large);
    }

    .map-container {
        flex-grow: 1;
        opacity: 1;

        canvas {
            outline: none;
        }
    }

    .message {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        pointer-events: none;
    }

    .game-start-message {
        position: absolute;
        top: 20%;
        left: 0;
        z-index: 1;
        width: 100%;
    }

    .stats {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 100%;
    }
    
    .score-board {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
    }

    .challenge {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .fact {
        position: absolute;
        top: 10%;
        right: var(--spacing-large);
        z-index: 1;
    }

    .active-game-actions {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        animation: fade-in .2s ease-in forwards;

        button {
            margin: var(--spacing-medium);

            path {
                stroke: #fff;
                stroke-width: var(--width-separator-medium);
            }
        }
    }

    @media screen and (max-width: 1080px) {
        .initialize-message {
            top: 15%;
            font-size: var(--font-size-large);
        }

        .message {
            top: 15%;
        }

        .challenge {
            bottom: 8%;
            font-size: var(--font-size-large);
        }
    }

    @media screen and (max-width: 900px) {
        .initialize-message {
            top: 15%;
            font-size: var(--font-size-medium);
        }

        .message {
            top: 15%;
        }

        .challenge {
            bottom: 5%;
            font-size: var(--font-size-medium);
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
