.multiplexer {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--color-background);
    width: 100vw;
    height: 100vh;

    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .view {
        flex-grow: 1;
        overflow: auto;
    }

    .loading {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
    }
}

.warning {
    display: none;
}

@media screen and (orientation:portrait) {
    .multiplexer {
        display: none;
    }

    .warning {
        display: flex;
        position: absolute;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        z-index: 111;
        background-color: var(--color-background);
        background-image: url('../../../assets/background.png');
        background-position: center center;
        background-size: cover;
        padding: var(--spacing-large);
        width: 100vw;
        height: 100vh;
        text-align: center;
        background-blend-mode: lighten;
    }
}

